@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Bold.ttf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Book.ttf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Light.ttf");
}

@font-face {
  font-family: "Gentium Basic";
  src: url("../fonts/GenBasR.ttf");
}

@font-face {
  font-family: "Gentium Basic";
  src: url("../fonts/GenBasI.ttf");
}

@font-face {
  font-family: "Gentium Basic";
  src: url("../fonts/GenBasB.ttf");
}
